[alias]
    co = checkout
    st = status
    pu = push
    fe = fetch --prune
    df = diff --color
    ls = log --color --oneline --pretty=format:'%C(yellow bold)%h%Creset -%C(red bold)%d%Creset %s %C(blue)(%cr) %C(magenta)<%an>%Creset' --abbrev-commit
    lg = log --color --graph --pretty=format:'%C(yellow bold)%h%Creset -%C(red bold)%d%Creset %s %C(blue)(%cr) %C(magenta)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=4 -RSXF
[color "branch"]
	current = green bold
	local = yellow
	remote = red
[color "diff"]
	old = red bold
	new = green bold
	meta = 11
	frag = magenta bold
	commit = yellow bold
	whitespace = red reverse
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
[merge]
	log = true
[rerere]
	enabled = true
[push]
	default = simple
[user]
	name = Sascha Krüger
	email = skhome@users.noreply.github.com
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
